:root {
  --block-indent: 0 96px;
  --color: #4b514e;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #dce3e0;
  font-family: 'Roboto', sans-serif;
  color: var(--color)
}

h1 {
  text-transform: uppercase; 
}

.section-title {
  margin-bottom: 8px; 
}

.paragraph {
  margin-top: 0; 

header, footer  {
  background-color: #bbc6c1; 
  color: white;
  padding: 4px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--block-indent); 

}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.section {
  max-width: 800px;
}

code {
  display: block; 
  border-radius: 12px;
  padding: 12px; 
  white-space: pre-wrap;
  word-break: break-word;
  background: whitesmoke; 
}
.row {
  display: flex; 
  flex-direction: row; 
}

header, footer  {
  background-color: #bbc6c1; 
  color: white;
  padding: 4px;
 }



.nav {
  overflow-x: auto;
  overflow-y: hidden;
}

.nav-list {
  display: flex;
  flex-wrap: nowrap;
  min-width: max-content;
  justify-content: flex-end;
  margin: var(--block-indent);
  list-style-type: none; 
 }

.nav-item {
  white-space: nowrap;
  border-radius: 0.3em;
  padding: 0.3em;
  transition: background-color 0.3s ease;
}

.nav-item:hover {
  background-color: hsl(150, 4%, 31%, 0.4);
}

.nav-link {
  color: white;
  text-decoration: none;
  }

.skills {
  padding-left: 0;
  list-style-type: none;  
}

.skills li {
  display: flex;
  flex-wrap: nowrap;
  min-width: max-content;
  padding-right: 0.3em;
}
.skills li::after {
  content: ",";
}

li.finish::after{
  content: none;
}

.skills {
  padding-left: 0;
  list-style-type: none;  
}

.skills li {
  display: flex;
  flex-wrap: nowrap;
  min-width: max-content;
  padding-right: 0.3em;
}
.skills li::after {
  content: ",";
}

li.finish::after{
  content: none;
}

.text-link, .text-link i {
  color: var(--color)  
}

.contacts {
  margin-left: 1em;
}

.footer {
  display: flex;
  align-items: center; 
  justify-content: space-between;
  flex-wrap: wrap;
  padding: var(--block-indent);
}

.footer p {
  margin: 0;
  padding: 0;
}
